@import 'variables';

@mixin flex-center {
    display: flex;
    align-items: center;
    gap: 8px;
}

@mixin fontsize-color-default {
    color: $color-text-default !important;
    font-size: $font-size-default !important;
}