@import '../../../styles/variables';
@import '../../../styles/mixins';

// scss form sign in for admin
.bl_signInPageAdmin{
    background-image: url(https://hotel.citgroup.vn/public/images/login_bg.jpg);
    display: flex;
    height: 100vh;
    
    &_wrapper{
        margin: auto;
        background: #004873;
        padding: 12px;
        border-radius: 6px;
        width: $width-admin-login-form;
    }

    &_ttl{
        text-align: center;
        text-shadow: 0 1px 0 #fff;
        color: $color-ttl-admin-login-form;
        letter-spacing: -0.05em;
        position: relative;

        &::after,
        &::before {
            content: "";
            height: 1px;
            position: absolute;
            top: 26px;
            width: 20%;
            background: $color-ttl-admin-login-form;
        }

        &::before{
            left: 0;
        }
        
        &::after{
            right: 0;
        }
    }

    &_msg{
        @include message-error-on-input;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        letter-spacing: 0.03333em;
    }

    &_form{
        .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
            top: -6px;
        }

        .Mui-error{
            .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
                top: -5px;
            }
        }
    }

    .bl_btn__login{
        display: flex;
        justify-content: center;  
        
        button{
            background: #fff;
        }
    }
    
}

// scss item report (4 items)
.un_itemReport{
    display: flex;
    &_info{
        flex-basis: 70%;
        text-align: left;
        font-weight: 700;
        &__total{
            font-size: 38px;
            line-height: 1;
        }
        &__ttl{
            color: #BAB8B8;
            font-size: 24px;
            margin-top: 10px;
        }
    }

    &_icon{
        flex-basis: 30%;
        display: flex;
        justify-content: flex-end;

        span{
            width: inherit !important;
        }
    }
}

// custom css calender
.fc-event-time{
    display: none;
}

// scss admin home page

.css-19z1ozs-MuiPaper-root-MuiAppBar-root {
    width: calc(100% - 65px) !important;
}

.un_menuAdmin{

    .css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
        color: #fff !important;
    }

    & > .MuiPaper-root{
        background: $background-color-menu-admin;
    }

    .css-1r9jet7{
        justify-content: flex-start !important;
        padding: 0 20px !important;
    
        .un_hotelIcon__custom{
            width: 1.5em;
            height: 1.5em;
            padding: 5px;
            border: 1px solid;
            border-radius: 50%;
        }
    
        .un_hotelIcon__customClose{
            margin-left: -5px;
        }   
    }

    svg , .fa-paw{
        color: #fff;
    }
}


.css-ag7rrr-MuiTypography-root{
    font-size: 1.3rem !important;
    margin-left: 12px !important;
}