@import '../../../styles/variables';
@import '../../../styles/mixins';

// navbar home page
.bl_navbarCustomer_container{
    padding: 0 $padding-navbar-home-page-default;

    @media screen and (max-width: 768px) {
        padding: 0 $padding-navbar-home-page-768px;
    }

    @media screen and (max-width: 480px) {
        padding: 0 $padding-navbar-home-page-480px;
    }

    .bl_navbarCustomer_wrap{
        @include flex-center;
        justify-content: space-between;
    }
}

.bl_navbarRightCustomer_wrap{
    @include flex-center;
    gap: $gap-navbar-home-page;

    .bl_navbarRightCustomer_act{
        display: flex;
        cursor: pointer;
    }
}

.bl_navbarLeftCustomer_wrapper{
    @include flex-center;
    gap: $gap-navbar-home-page;

    .bl_navbarLeftCustomer_logo {

        img {
            max-width: 162px;
            max-height: 55px;
        }
    }
}

//banner home page
.bl_bannerCustomer_wrap{
    background-image: url('../../../assets/images/viewHotel.png');
    background-attachment: fixed;
    background-size: cover;
    height: $height-banner-home-page;
    transition: background 1s linear;
    position: relative;
    @include flex-column-center;

    &::before{
        position: absolute;
        content: '';
        background: #0f1f44;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.5;
    }
    .bl_bannerCustomer{
        z-index: 0;
        @include flex-column-center;
        gap: 50px;
        .bl_bannerCustomer_title{
            text-align: center;
            color: #ffff;
            h2{
                font-size: $font-size-main-header-banner;
            }
            p{
                font-size: $font-size-support-header-banner;
            }
        }

        .bl_formBooking_wrap{
            width: 1150px;
            height: 90px;
            border-radius: 10px;
            background: #fff;
            display: flex;

            .bl_formBookingGroup{
                border-left: 1px solid #e2e7ef;
                flex-basis: calc((100% - 15%)/3);
                &:first-child{
                    border-left: none;
                }
                &:last-child{
                    flex-basis: 15%;
                    border-left: none;
                    background-color: color-btn-customer;
                    border-radius: 0 10px 10px 0;
                    display: flex;
                    cursor: pointer;
                }
                &_btn{
                    letter-spacing: 0.8px;
                    margin: auto;
                    color: #fff;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-wrap: nowrap;
                }
            }
        }

    }
}

// Sign in page
.bl_signinPage_container{
    display: flex;
    height: 100vh;

    .bl_signinForm{
        margin: auto;
        padding: 40px;
        width: 670px;
        height: 520px;
        border-radius: 10px;
        box-shadow: 0 0 20px 0 rgba(62,28,131,0.1);

        &_header{
            font-size: 22px;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            padding-bottom: 15px;
            border-bottom: 1px solid #e9ecef;
        }

        &_body{
            margin: 15px;
            .un_input {
                .MuiOutlinedInput-root{
                    background: #f6f7f9;
                    padding: 10px;

                    svg{
                        opacity: 0.5;
                    }
                }

                input{
                    background: #f6f7f9;
                }

                fieldset{
                    border-color: #ebedf1;
                }
            }

            .bl_btn__login{
                margin: 20px 0;
                button{
                    background-color: $color-btn-customer;
                    width: 100%;
                    color: #fff;
                }
            }
        }

        &_footer{
            text-align: center;

            &__main{
                display: inline;
                margin-left: 5px;
                color: $color-btn-customer;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}

