$color-error-msg-input : #ff0000;
$color-ttl-admin-login-form : #73879C;

$width-admin-login-form : 350px;
$background-color-menu-admin : #2A3F54;

$radio-after-width: 6px;
$radio-before-width: 20px;
$brand-primary: #337ab7;
$brand-second: #83b5e1;

$font-size-default: 14px;
$color-text-default: #73879C;
$color-text-pagination: #337ab7;
$color-text-pagination-hover: #23527c;

$padding-navbar-home-page-default: 120px;
$padding-navbar-home-page-768px: 60px;
$padding-navbar-home-page-480px: 30px;
$gap-navbar-home-page: 15px;

$height-banner-home-page: 660px;
$font-size-main-header-banner: 42px;
$font-size-support-header-banner: 18px;

$color-btn-customer-primary: #ff5722;
$color-btn-customer-second: #ff9a7a;

$color-open-collapse : rgb(12, 181, 12);

$width-drowdown-person-infor : 300px;
$width-drowdown-form-booking : 250px;