$color-error-msg-input : #ff0000;
$color-ttl-admin-login-form : #73879C;

$width-admin-login-form : 350px;
$background-color-menu-admin : #2A3F54;

$radio-after-width: 6px;
$radio-before-width: 20px;
$brand-primary: aqua;
$brand-primary-second: #c9ffff;

$font-size-default: 14px;
$color-text-default: #73879C;
$color-text-pagination: #337ab7;
$color-text-pagination-hover: #23527c;
